<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo UY</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    
        
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/bootstrap5.min.css' %}">
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js' %}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!--FONT AWESOME-->
    <link href="{% static 'app/css/fontawesome-free-5.15.4-web/css/all.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
</head>
<body>

    <div class="fondo_header"></div>
  <header id="header">
  
    <nav class="contenedor_logo">
      <img class="menu" src="{% static 'app/images/icono.png' %}" alt="menu" id="menu">
      <a href="{% url 'complejos' %}"><img  class="logo"  src="{% static 'app/images/icono.png' %}" alt="logo"></a>
      <ul>
        
        {% if user.is_authenticated %}
        <li>
          <a href="{%url 'consultas:listar_consultas' request.user.id %}">
            Mis consultas {% if cant_consultas >= 0 %}<span class="badge bg-secondary">0</span>{% endif %}
          </a>  
        </li>
        |
        <li>
          <a href="#">Bienvenid@ {{ user.username }}</a>
        </li>
        |
        <li>
          <form action="{% url 'logout' %}" method="post" style="display: inline;">{% csrf_token %}
            <button style="background-color: transparent; border: none; color: white;">Cerrar sesión</button>
          </form>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        <li>
          <a href="{% url 'signup' %}">Registrarme</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  
  </header>

    <div id="contenido">
        
    

    {% block contenido %}
    {% endblock %}

    </div>


    <footer>
        <div class="marcas">
            <img src="{% static 'app/images/icono.png' %}" alt="Portal">
            <img src="{% static 'app/images/icono.png' %}" alt="Portal">
            <img src="{% static 'app/images/icono.png' %}" alt="Portal">
        </div>
        <div class="fondo_footer"></div>
    </footer>
    
    <script src="js/menu.js"></script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal(url){
            $('#ventana_modal').load(url, function(){
            $(this).show();
            });
            return false;
        }

        function cerrar_modal(){
        $('#ventana_modal').hide();
        return false;
        }


        function abrir_login_modal(url){
            $('#login_modal').load(url, function(){
            $(this).show();
            });
            return false;
        }

        function cerrar_login_modal(){
        $('#login_modal').hide();
        return false;
        }
      
      </script>
    
    {% block js %}
    {% endblock %}
    <div class="modal" id="ventana_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    
    <div class="modal" id="login_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    <script>
      $( function() {
        
        $( "#buscador" ).autocomplete({
          source: '{% url "autocomplete" %}',
          select: function( event, ui ) {
                window.location.href = '../ver-complejos-por-localidad/'+ui.item.value;
            }
        });
      } );
      </script>
       
</body>
</html>