<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnomarket</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
</head>
<body>

    
    <header id="header">
        <img class="menu" src="{% static 'app/images/icono.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'app/images/icono.png' %}" alt="logo">
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    {% if perms.app.view_consulta %}
                    <li>
                        <a href="{% url 'consultas:listar_consultas' request.user.id %}">Ver consultas</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li>
                            <a href="#">Bienvenid@ {{ user.complejo }}</a>
                            <a href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'registro' %}">Registrate</a>
                    </li>
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">

    {% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                'title':'Felicitaciones',
                'text':'{{m}}',
                'icon':'success'
            })
        </script>
    {% endfor %}
    {% endif %}

    {% block contenido %}
    {% endblock %}

    </div>


    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/apple.png' %}" alt="apple">
            <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'app/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'app/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="{% static 'app/img/tecnomarketpngicono.png' %}" alt="logo">
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="js/menu.js"></script>

    
    {% block js %}
    {% endblock %}
</body>
</html>