{% extends 'app/base_complejo.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
    <br><br>
    <div class="row">
        
        <div class="col-12 col-md-6 offset-md-3">

            <div class="card">
                <div class="card-body">
                    <h2>Consultas de Clientes</h2>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        {% for c in entity %}
                        
                        <a href="{% url 'ver_consulta' c.id %}" style = "text-decoration: none"; >
                            {% if c.leida %}
                                {{ c.complejo.nombre_complejo | title }}
                                <br>
                                {{ c.cliente.user.username | title }}
                                <br>
                                {{ c.fecha_ingreso | title }}
                                <br>
                                {{ c.fecha_salida | title }}
                                <br>
                                <br>
                                
                                {% if ultimo_msj.consulta_id == c.id %}
                                    {% if ultimo_msj.creador == 0 %}
                                        {{ c.cliente.user.username | title }}: {{ ultimo_msj.mensaje | capfirst | truncatechars:10 }}
                                    {% else %}
                                        {{ c.complejo.nombre_complejo | title }}: {{ ultimo_msj.mensaje | capfirst | truncatechars:10}}
                                    {% endif %}
                                    <br>
                                {% endif %}
                                
                                <hr>

                            {% else %}

                                <strong>{{ c.complejo.nombre_complejo | title }}</strong>
                                <br>
                                <strong>{{ c.cliente.user.username | title }}</strong>
                                <br>
                                <br>
                                {% if ultimo_msj.consulta_id == c.id %}
                                    {% if ultimo_msj.creador == 0 %}
                                        <strong>{{ c.cliente.user.username | title }}: {{ ultimo_msj.mensaje | ljust:"5" | truncatechars:10 }}</strong>
                                    {% else %}
                                        <strong>{{ c.complejo.nombre_complejo | title }}: {{ ultimo_msj.mensaje | capfirst | truncatechars:10 }}</strong>
                                    {% endif %}
                                    <br>
                                {% endif %}
                                <hr>

                            {% endif %}
                        </a>
                            
                        {% endfor %}

                        <div class="d-flex justify-content-end">

                            <div>
                                {% include 'app/paginator.html' %}
                            </div> 

                        </div>
                        {{ mensaje }}
                    </form>

                </div>
            </div>
        </div>
    </div>
    <br><br>

{% endblock %}