{% extends 'app/base_cliente.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<h2>Mis consultas</h2>
<div class="contenedor">
    <table>
        <tr>
            {% for c in consultas %}
                {% if c.leida %}
                    <a href="{% url 'ver_mi_consulta' c.id %}" style = "text-decoration: none"; >
                        <div class="card">
                            <div class="card-body">
                                <div class="wraptext">
                                    <p>{{ c.cliente }}</p>
                                    <p>{{ c.complejo }}</p>
                                    <p>{{ c.fecha_entrada }}</p>
                                    <p>{{ c.fecha_salida }}</p>
                                </div>
                            </div>

                            </div>
                        </div>
                    </a>
                    <br><br>
                {% else %}
                    <a href="{% url 'ver_mi_consulta' c.id %}" style = "text-decoration: none"; >
                        <div class="card">
                            <div class="card-body">
                                <div class="wraptext">
                                    <p><strong>{{ c.cliente }}</strong></p>
                                    <p><strong>{{ c.complejo }}</strong></p>
                                    <p><strong>{{ c.fecha_entrada }}</strong></p>
                                    <p><strong>{{ c.fecha_salida }}</strong></p>
                                </div>
                            </div>

                            </div>
                        </div>
                    </a>
                    <br><br>
                {% endif %}
            {% endfor %}
            
        </tr>
    </table>
    <div>
        {% include 'app/paginator.html' %}
    </div>
</div>

{% endblock %}