{% extends 'app/base_cliente.html' %}
{% load crispy_forms_tags %}
<script type="text/javascript">
        // jQuery is loaded => print the version
        
        $( function() {
          $( "#datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
        });
    
    
    
    </script>

{% block contenido %}

<div class="modal-dialog modal-dialog-centered"></div>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">

                <div class="card-body" class="col-12 col-md-6 offset-md-3">
                    <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Complejo</h4>
                    </div>
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-body">
    
                                <h2>{{ complejo.nombre_complejo }}</h2>
                                <p>{{ complejo.get_localidad_display }}</p>
                                <p>{{ complejo.direccion }}</p>
                                <img src=" {{ complejo.imagen1.url }} " width="100%">
                                {% for e in lista_equipamientos %}
                                    {% if e %}
                                        <p>{{ e }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a href="#"  data-bs-toggle="modal" data-bs-target="#login_modal" onclick="abrir_login_modal('{% url "realizar_consulta" complejo.nombre_complejo %}')">Realizar Consulta</a>
                        </div>
    
                </div>
               
            </div>
            
        </div>

    </div>

</div>

</div>

{% endblock %}