{% extends 'app/base_cliente.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
    <br><br>

    <div class="container">
        <div class="row">
          <div class="col">
            Lista de mensajes a complejos
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Consultas a {{ consulta.complejo }}</h2>
                    <hr>
                    Fecha Ingreso: {{ consulta.fecha_ingreso | date }}
                    <br>
                    Fecha Salida: {{ consulta.fecha_salida | date }}
                    <br>
                    Cantidad de Mayores: {{ consulta.cantidad_mayores }}
                    <br>
                    Cantidad de Menores: {{ consulta.cantidad_menores }}
                    <br>
                    Consulta:
                    {% for m in mensajes %}
                        {% if m.consulta_id == consulta.id %}
                            {% if m.creador == 0 %}
                                {{ consulta.cliente.user.username }}: {{ m.mensaje }}
                            {% else %}
                                {{ consulta.complejo.nombre_complejo }}: {{ m.mensaje }}
                            {% endif %}
                        {% endif %}
                        <hr>
                    {% endfor %}
                    <br>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <br>
                        {{ msjform | crispy }}

                        <br>
                        <hr>
                        
                        <div>
                            <input type="submit" value="Responder" class="btn btn-primary">
                            <input type="reset" value="Cancelar" class="btn btn-secondary">
                        </div>
                    </form>
                    
                </div>
            </div>
          </div>
          <div class="col">
            Detalle del complejo seleccionado
          </div>
        </div>
      </div>


    <div class="row">
        
        <div class="col-12 col-md-6 offset-md-3">

            
        </div>
    </div>
    <br><br>

{% endblock %}